extends indexLayout

block content
  .container
    .jumbotron
      h1 My surveys
      p Welcome on my engineer project!
      p Go to Sign up page.
      p
        a.btn.btn-lg.btn-primary(href='/signup') Signup