extends layout

block content
  nav.navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.collapse.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/') Surveys
      .collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/login') Login
          li
            a(href='/signup') Sign up

  .container
    .jumbotron
      h1 My surveys
      p Welcome on my engineer project!
      p Go to Sign up page.
      p
        a.btn.btn-lg.btn-primary(href='/signup') Signup