//
   Created by Marcin on 2014-08-20.

extends layout

block content
  .container
    .col-sm-6.col-sm-offset-3
      if message.length > 0
        .alert.alert-danger
          p= message
      form(action="/login", method="POST")
        .form-group
          label Email
          input(type="text", class="form-control", name="email")
        .form-group
          label Password
          input(type="password", class="form-control", name="password")
        button(type="submit", class="btn btn-warning btn-lg") Login!