//
   Created by Marcin on 2014-08-20.

extends layout

block content
  nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.collapse.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/') Surveys
      .collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/login') Login
          li
            a(href='/signup') Sign up

  .container-fluid
    .col-sm-4.col-sm-offset-4
      .panel.panel-default
        .panel-heading
          h1 Login
        .panel-body
          if message.text.length > 0
            if message.type == 'error'
              .alert.alert-danger
                p= message.text
            else if message.type == 'info'
              .alert.alert-info
                p= message.text
          form(action="/login", method="POST")
            .form-group
              label Email
              input(type="text", class="form-control", name="email")
            .form-group
              label Password
              input(type="password", class="form-control", name="password")
            br
            button(type="submit", class="btn btn-primary btn-lg") Login!