//
   Created by Marcin on 2014-08-20.

extends layout

block content
  nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.collapse.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(ui-sref='dashboard') Surveys
      .collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(ui-sref='dashboard', ui-sref-active='active') My surveys
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/logout') Logout


  div(ui-view, ng-init='user= #{JSON.stringify(user)}')


block append scripts
  script(src='javascripts/common/main.js')
  script(src='javascripts/common/directives/actionMenu.js')
  script(src='javascripts/surveys/main.js')
  script(src='javascripts/surveys/services/Surveys.js')
  script(src='javascripts/surveys/controllers/DashboardController.js')
  script(src='javascripts/surveys/controllers/NewSurveyController.js')
  script(src='javascripts/surveys/controllers/SurveyDetailsController.js')
  script(src='javascripts/surveys/directives/surveyList.js')
  script(src='javascripts/app.js')