//
   Created by Marcin on 2014-08-20.

extends layout

block content
  nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.collapse.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/') Surveys
      .collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/login') Login
          li
            a(href='/signup') Sign up

  .container-fluid
    .col-sm-4.col-sm-offset-4
      .panel.panel-default
        .panel-heading
          h1 Signup

        .panel-body
          if message.length > 0
            .alert.alert-danger
              p #{message}

          form(action="/signup", method="POST")
            .form-group
              label Email
              input(type="email", class="form-control", name="email", required)
            .form-group
              label Password
              input(type="password", class="form-control", name="password", required, onchange="form.password2.pattern = this.value")
            .form-group
              label Retype password
              input(type="password", class="form-control", name="password2", required)
            br
            button(type="submit", class="btn btn-primary btn-lg") Sign up!