ul.list-group(ui-sortable="sortableOptions", ng-model="survey.questions")
   li.list-group-item(ng-repeat="question in survey.questions", ng-click="selectQuestion($index)",
   ng-class="{selectable:selectedQuestion !== $index, 'selected-question':selectedQuestion === $index}")
      .row
         .col-sm-10
            a(href="#", editable-text="question.body", onbeforesave="updateSurvey()", ng-mouseenter="hoverQuestion($index)",
            ng-mouseleave="hoverQuestion(-1)")
               h4 \#{{$index + 1}} {{ question.body }}
                  span.glyphicon.glyphicon-pencil(ng-show="hoveredSurvey === $index")
         .col-sm-2
            a.selectable(data-toggle="modal", data-target="#confirmationModal")
               h4
                  span.glyphicon.glyphicon-remove.pull-right
      br
      div(ng-hide="selectedQuestion !== $index")
         dl.dl-horizontal
            dt
               p Question type
            dd
               select(ng-model="question.type", ng-options="type for type in types", ng-change="updateSurvey()")
            div(ng-hide="question.type === 'text' || question.type === 'boolean'")
               dt
                  p Possible answers
               dd
                  ul.list-group
                     li.list-group-item(ng-repeat="answer in question.possibleAnswers track by $index")
                        .row
                           .col-sm-10
                              a(href="#", editable-text="question.possibleAnswers[$index]", onbeforesave="updateSurvey()",
                              ng-mouseenter="hoverAnswer($index)", ng-mouseleave="hoverAnswer(-1)")
                                 h5 {{ answer }}
                                    span.glyphicon.glyphicon-pencil(ng-show="hoveredAnswer === $index")
                           .col-sm-2
                              a.selectable(ng-click="deleteAnswer($parent.$index, $index)")
                                 h5
                                    span.glyphicon.glyphicon-remove.pull-right

                  button.btn.btn-default(ng-click="addAnswer($index)") Add answer

button.btn.btn-default(ng-click="addQuestion()") Add new question

.modal.fade(id="confirmationModal", tabindex="-1", role="dialog", aria-hidden="true")
   .modal-dialog
      .modal-content
         .modal-header
            button.close(type="button", data-dismiss="modal")
               span(aria-hidden="true") &times;
               span.sr-only Close
            h4.modal-title Are you sure?
         .modal-body
            p Do you really want to do it? This operation is irreversible
         .modal-footer
            button.btn.btn-default(type="button", data-dismiss="modal") No
            button.btn.btn-primary(type="button", data-dismiss="modal", ng-click="deleteQuestion()") Yes