button.btn.btn-default(ng-click="getAnswers()") Get answers
br
.panel.panel-default(ng-repeat="(questionNumber, answer) in answers")
  .panel-heading
    h4 {{ survey.questions[questionNumber].body }}
  .panel-body
    .row
      .col-sm-11
        canvas(tc-chartjs-bar, legend='true', chart-options="options", chart-data="answer")