button.btn.btn-default(ng-click="getAnswers()") Get answers
br
.panel.panel-default(ng-repeat="answer in answers")
  .panel-heading
    h4 {{ survey.questions[$index].body }}
  .panel-body
    .row
      .col-sm-6
        canvas(barchart legend=true, data="answer", responsive="true")