//
   Created by Marcin on 2014-08-26.

input(type='text', ng-model='survey.title', placeholder='Search...')
hr
input(type='text', ng-model='survey.question', placeholder='Search...')
hr
input(type='button', ng-click='addSurvey(survey)')
hr
ul
  li(ng-repeat='survey in surveys') {{ survey.title }}