//
   Created by Marcin on 2014-08-25.

.container-fluid
  .row
    .col-sm-2
      .panel.panel-default.sidebar
        .panel-heading
          h4 Actions
        ul.list-group
          a.list-group-item(ng-show="selectedSurvey !== -1", data-toggle="modal", data-target="#confirmationModal", href="#") Delete survey

          a.list-group-item(ui-sref="newSurvey") Add survey



        //action-menu(items="contextMenu", action="dispatchMenuAction(index)")
    .col-sm-7
      .panel.panel-primary
        .panel-heading
          .row
            .col-sm-6
              h4 My surveys
            .col-sm-6
              input.form-control(type='text', ng-model='filter.metadata.title', placeholder='Search...')

        .panel-body
          survey-list
          a.btn.btn-success(type='button', ui-sref="newSurvey")
            span.glyphicon.glyphicon-plus
            |  Create survey...


    .col-sm-3
      .panel.panel-default
        .panel-heading
          h4 Preview
        .panel-body
          h4 Title
          p {{ surveys[hoveredSurvey].metadata.title || surveys[selectedSurvey].metadata.title || ""}}
          h4 Description
          p {{ surveys[hoveredSurvey].metadata.description || surveys[selectedSurvey].metadata.description || "" }}
          h4 Status
          p {{ surveys[hoveredSurvey].metadata.status || surveys[selectedSurvey].metadata.status || ""}}
          h4 Answer count
          p {{ surveys[hoveredSurvey].metadata.answerCount.toString() || surveys[selectedSurvey].metadata.answerCount.toString() || "" }}

.modal.fade(id="confirmationModal", tabindex="-1", role="dialog", aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal")
          span(aria-hidden="true") &times;
          span.sr-only Close
        h4.modal-title Are you sure?
      .modal-body
        p Do you really want to remove this survey? This operation is irreversible
      .modal-footer
        button.btn.btn-default(type="button", data-dismiss="modal") No
        button.btn.btn-primary(type="button", data-dismiss="modal", ng-click="deleteSurvey()") Yes