//
   Created by Marcin on 2014-08-25.

.my-panel
  .my-panel-header
    .row
      .col-sm-6
        h3 My surveys
      .col-sm-6
        input.form-control(type='text', ng-model='search.title', placeholder='Search...')

  survey-list(surveys='surveys', filter='search')
