//
   Created by Marcin on 2014-08-25.

.container-fluid
  .row
    .col-sm-2
      .my-panel.sidebar
        action-menu(items="contextMenu", action="dispatchMenuAction(index)")
    .col-sm-7
      .my-panel
        .my-panel-header
          .row
            .col-sm-6
              h3 My surveys
            .col-sm-6
              input.form-control(type='text', ng-model='filter.metadata.title', placeholder='Search...')

        survey-list
        a.btn.btn-default(type='button', ui-sref="newSurvey")
          span.glyphicon.glyphicon-plus
          |  Create survey...


    .col-sm-3
      .my-panel
        h3 Title
        p {{ hoveredSurvey.metadata.title || selectedSurvey.metadata.title || ""}}
        h3 Description
        p {{ hoveredSurvey.metadata.description || selectedSurvey.metadata.description || "" }}
        h3 Status
        p {{ hoveredSurvey.metadata.status || selectedSurvey.metadata.status || ""}}
        h3 Answer count
        p {{ hoveredSurvey.metadata.answerCount || selectedSurvey.metadata.answerCount || "" }}
