.modal-header
  h3.modal-title Are you sure?
.modal-body
  p Do you really wanna hurt me? Do you really want to make me cryyyyy?
  button.btn.btn-primary(ng-click="ok()") Yesss!
  button.btn.btn-warning(ng-click="cancel()") No!
