//
   Created by Marcin on 2014-08-28.

.modal.fade(id='login', tabindex='-1', role='dialog', aria-labelledby='loginLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal')
          span(aria-hidden='true')
            &times;
          span.sr-only
            |  Close
        h4.modal-title(id='loginLabel') Login
      .modal-body
        p dasdsadasdaasd