//
   Created by Marcin on 2014-08-21.
block navbar
  nav.navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.collapse.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/profile')
          span.glyphicon.glyphicon-stats
          | dsaddsa
      .collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/logout') Logout
        ul.nav.navbar-nav
          li
            a(href='#') My surveys
