//
   Created by Marcin on 2014-09-04.
.container-fluid
  .row
    .col-sm-2
      .panel.panel-default
        .panel-heading
          h4 Actions
        ul.list-group
          a.list-group-item() Basic info
          a.list-group-item(ui-sref=".edit", ui-sref-active="active") Edit description
          a.list-group-item(ui-sref=".editQuestions", ui-sref-active="active") Edit questions
          a.list-group-item(ui-sref=".sharing", ui-sref-active="active") Sharing
          a.list-group-item(ui-sref=".analysis", ui-sref-active="active") Analysis


        //action-menu(items="contextMenu", action="dispatchMenuAction(index)")
    .col-sm-7
      div(ui-view="")
